@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

html, body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
	scroll-behavior: smooth;
}

.brand-tagline{
	font-style: italic;
	font-size: 16px;
	font-family: 'Lobster', cursive;
	color: rgba(0,0,0,0.75);
}

.btn-outline-light{
	background-color: rgba(242,27,34,0.7);
}

.btn-outline-light:hover{
	background-color: rgba(242,27,34,0.5);
	color: #c7c7c7;
}

.navbar {
    opacity: 0.85;
    z-index: 999;
}

.navbar-nav li {
	padding-right: 5px;
}

.log{
	border-right: 2px solid #999;
}

.nav-link {
	font-size: 1.1em !important;
}

.ftitle{
	color:#044da2;
}

.ltitle{
	color:#f21b22;
}

.ftitle, .ltitle{
	font-family: 'Lobster', cursive;
	font-size: 30px;
}

.brand-title{
	padding-top: 0.5rem;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption{
	padding-bottom: 4rem;
}

/*SEARCHBOX*/

.search-content {
	text-align: center;
	max-width: 80%; }
	.search-content .form-inline .form-control {
	color: #5f5f5f;
	margin-bottom: 0;
	margin: 0 10px;
	height: 45px;
	border-radius: 8px;
}
.search-content .search-form {
    background-color: rgba(242,27,34,0.75);
    border-radius: 5px;
    padding: 20px;
}
.search-content .search-form .form-inline input[type=submit] {
	background: #044da2;
	display: inline-block;
	width: 140px;
	color: #fff;
	border: 0px;
	text-transform: uppercase;
	vertical-align: top;
	font-size: 16px;
	font-weight: 400;
	padding: 9px 12px;
	border-radius: 15px;
}
.search-content .search-form .form-inline input[type=submit]:hover {
    background-color: #f21b22;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

/*CARD*/

.rating{
	padding: 0rem 0rem 1rem 0rem;
}

.card-title{
	padding-right: 1rem;
}

.card-img-top{
	padding: 0.275rem;
}

.carousel{
	margin-top: -7.5rem;
}

hr.horizon{
	width: 60%;
	border:1.5px solid #222222bb;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.75);
}

.navbar-light .navbar-nav .nav-link:hover{
	 color: rgba(0,0,0,1);
}


h6.fotext{
	padding-top: 1rem;
}


footer{
	background: url("../img/footbg.jpg") no-repeat;
	color: #c7c7c7;
	margin-top: 2rem;
	padding-top: 7.5rem;
	opacity: 0.95;
}

.guide-details{
	border: 1px solid rgba(0,0,0,.125);
	padding: 1rem;
}

.guide-card{
	margin-top: 6rem;
}

/*extra*/
.ptitle{
	padding: 1rem;
}

.guide{
	margin: 1.5rem;
}

.placereviews{
	width: 100%;
	height: 100px;
}

.hire{
	padding-top: 2rem;
}

.btn-hire{
	margin-left: 0.5rem;
}

.jumbotron{
	background-color: rgba(0,0,0,.25);
	margin-bottom: -1rem;
}

.hire-form{
	margin-left:10rem;
	margin-right:10rem;
	background: url('../img/bg.png') no-repeat;
	background-position: center;
}

input{
	opacity: 0.75;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}











